alembic==1.16.4
fastapi==0.115.14
uvicorn[standard]==0.35.0
pydantic-settings==2.10.1
SQLAlchemy==2.0.41
psycopg[binary]==3.2.9
pytest==8.4.1
httpx==0.28.1
pyarrow==21.0.0
numpy==2.5.2
pandas==3.0.5
scikit-learn==1.9.0
joblib==1.5.3

pyshp==3.1.6
pyproj==3.8.0
shapely==2.1.2
